.card{
  display: inline-block;
  width: 200px;
  height: 200px;
  overflow-y: scroll;
  

  text-align: center;
  padding: 35px;
  vertical-align: top;
  margin: 10px;
  color: #fff;
  position: relative;
  border-radius: 50%;
 
  box-shadow: inset 0px 0px 130px 0px rgba(0, 132, 255, 0.75);
  border: 3px solid rgb(114, 210, 255);
  
  transition: all .3s;
  box-sizing: border-box;
  cursor: pointer;
}

.card::-webkit-scrollbar { 
  display: none; 
}

.card h1{
  margin: 0 0 10px 0;
  font-size: 30px;
}

.card li{
  margin: 0 0 5px 0;
}

.card:hover{
  box-shadow: inset 0px 0px 130px 0px rgba(97, 255, 6, 0.75), 0px 0px 100px 0px rgba(97, 255, 6, 0.75);
  border: 3px solid rgb(156, 255, 114);
}

.card:active{
  box-shadow: inset 0px 0px 130px 0px rgba(253, 3, 3, 0.75), 0px 0px 100px 0px rgba(253, 3, 3, 0.75);
  border: 3px solid rgb(255, 107, 80);
}

.favs{
  position: absolute;
  top: 0;
  right: 0;
  background: transparent;
  border: 1px solid white;
  color: white;
  cursor: pointer;
}

.active{
  border: 1px solid green;
}